.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin: 48px 0;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}
