.arolax_testimonial_wrapper svg {
    width: 1em;
    height: 1em;
    transition: all 0.3s;
}

.arolax_testimonial_wrapper img {
    object-fit: cover;
}

.arolax_testimonial_wrapper .wcf-arrow {
    line-height: 0;
}

/* Style One */

/* Style Two */

/* Style Three */

/* Style Four */
.arolax__testimonial-4 .slide {
    background-color: #F9F9F9;
}

.arolax__testimonial-4 .content {
    padding: 45px 30px;
}

.arolax__testimonial-4 .wrap {
    gap: 15px;
    display: flex;
    align-items: center;
    padding: 25px 30px;
    background-color: #121212;
}

.arolax__testimonial-4 .logo {
    margin-bottom: 5px;
}

.arolax__testimonial-4 .name {
    color: #fff;
}

.arolax__testimonial-4 .designation {
    color: #555;
}

.arolax__testimonial-4 .feedback {
    margin-top: 50px;
    margin-bottom: 60px;
}

.arolax__testimonial-4 .quote {
    text-align: right;
}

.arolax__testimonial-4 .swiper-pagination-bullet {
    margin: 0 !important;
    border-radius: 0;
    width: 25px;
    height: 2px !important;
}

.arolax__testimonial-4 .ts-pagination {
    pointer-events: none;
}

.arolax__testimonial-4 .ts-navigation {
    display: inline-block;
}


/* Style Five */


/* arolax--testimonial-2 */
