.section {
  padding-block: var(--sap-section-gap);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.grid > * {
  flex: 0 0 calc(33.333% - 16px);
}

@media (max-width: 800px) {
  .grid {
    gap: 20px;
  }

  .grid > * {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 520px) {
  .grid > * {
    flex-basis: 100%;
  }
}
